*~
*.a
*.bgn
*.bit
*_bitgen.xwbt
*.bld
*.cmd_log
core
design.bit
doc/doxy/
doc/doxy/*
doxy/
doxy/*
doxy/html/*
doxy/latex/*
*.drc
*_envsettings.html
filter
fth/doc/doxygen/*
*.ghw
*.gise
gui
h2
h2.bin
h2.hex
h2_tb
*.htm
*.html
iseconfig/
*.ll
*.log
*.log
log.txt
*.lso
*.map
*_map.map
*_map.mrp
*_map.ngm
*_map.xrpt
mem_h2.binary
mem_h2.hexadecimal
mem_h2_tb
*.mrp
*.msd
*.msk
*.ncd
*.ngc
*.ngd
*_ngdbuild.xrpt
_ngo/
*.ngr
*.o
*.pad
*_pad.csv
*_pad.txt
*.par
par_usage_statistics.html
*_par.xrpt
*.pcf
*.pdf
post/
post/*
*.prj
*.ps
*.ptwx
*.rbb
*.rbd
reports/
reports/*
*.so
*.stx
*_summary.html
*_summary.xml
*.swo
*.swp
*.sym
*.syr
tb
test_bench
text
tmp/
tmp/*
top_level.bld
top_level_map.*
top_level_map.ncd
top_level_map.ngm
top_level.ncd
top_level.ngc
top_level.ngd
top_level.par
top_level.pcf
top_level_xst.xrpt
*.twr
*.twx
*.txt
uart
*.unroutes
usage_statistics_webtalk.html
*_usage.xml
*.ut
vga_tb
vgcore.*
vhd/doxy/*
vhd/post/
vhd/post/*
webtalk.log
webtalk_pn.xml
work-obj93.cf
xlnx_auto_0_xdb/
*.xml
_xmsgs/
_xmsgs/*
*.xpi
*.xrpt
*.xst
xst/
*_xst.xrpt
