*.swp
*.swo
*.o
*.ghw
*~
h2_tb
vga_tb
mem_h2_tb
*.log
top_level.ncd
top_level.ngc
top_level.ngd
top_level.pcf
top_level_map.ngm
top_level_map.ncd
top_level.bld
top_level.par
top_level_xst.xrpt
design.bit
_xmsgs/
reports/
tmp/
_xmsgs/*
reports/*
tmp/*
usage_statistics_webtalk.html
test_bench
work-obj93.cf
*.ps
log.txt
top_level_map.*
*.map
*.mrp
*.xrpt
