#
# On Board 100 MHz Clock
#

#Clock signal
Net "clk" LOC=V10 | IOSTANDARD=LVCMOS33;
Net "clk" TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 100000 kHz;

#
# Input: Buttons
#

 Net "btnu"  LOC = A8  | IOSTANDARD = LVCMOS33;               # button up
 Net "btnd"  LOC = C9  | IOSTANDARD = LVCMOS33;               # button down
 Net "btnc"  LOC = B8  | IOSTANDARD = LVCMOS33;               # button centre
 Net "btnl"  LOC = C4  | IOSTANDARD = LVCMOS33;               # button left
 Net "btnr"  LOC = D9  | IOSTANDARD = LVCMOS33;               # button right

#
# Input: Switches
#

 Net "sw<0>" LOC = T10 | IOSTANDARD = LVCMOS33;               # switch 0
 Net "sw<1>" LOC = T9  | IOSTANDARD = LVCMOS33;               # switch 1
 Net "sw<2>" LOC = V9  | IOSTANDARD = LVCMOS33;               # switch 2
 Net "sw<3>" LOC = M8  | IOSTANDARD = LVCMOS33;               # switch 3
 Net "sw<4>" LOC = N8  | IOSTANDARD = LVCMOS33;               # switch 4
 Net "sw<5>" LOC = U8  | IOSTANDARD = LVCMOS33;               # switch 5
 Net "sw<6>" LOC = V8  | IOSTANDARD = LVCMOS33;               # switch 6
 Net "sw<7>" LOC = T5  | IOSTANDARD = LVCMOS33;               # switch 7

#
# Output: Individual LEDs
#

 Net "ld<0>" LOC = U16 | IOSTANDARD = LVCMOS33 | SLEW = FAST; # led 0
 Net "ld<1>" LOC = V16 | IOSTANDARD = LVCMOS33 | SLEW = FAST; # led 1
 Net "ld<2>" LOC = U15 | IOSTANDARD = LVCMOS33 | SLEW = FAST; # led 2
 Net "ld<3>" LOC = V15 | IOSTANDARD = LVCMOS33 | SLEW = FAST; # led 3
 Net "ld<4>" LOC = M11 | IOSTANDARD = LVCMOS33 | SLEW = FAST; # led 4
 Net "ld<5>" LOC = N11 | IOSTANDARD = LVCMOS33 | SLEW = FAST; # led 5
 Net "ld<6>" LOC = R11 | IOSTANDARD = LVCMOS33 | SLEW = FAST; # led 6
 Net "ld<7>" LOC = T11 | IOSTANDARD = LVCMOS33 | SLEW = FAST; # led 7

#
# Output: 7 Segment LEDs
#

 Net "an<0>" LOC = P17 | IOSTANDARD = LVCMOS33 | SLEW = FAST; # anode 0
 Net "an<1>" LOC = P18 | IOSTANDARD = LVCMOS33 | SLEW = FAST; # anode 1
 Net "an<2>" LOC = N15 | IOSTANDARD = LVCMOS33 | SLEW = FAST; # anode 2
 Net "an<3>" LOC = N16 | IOSTANDARD = LVCMOS33 | SLEW = FAST; # anode 3

 Net "ka<0>" LOC = T17 | IOSTANDARD = LVCMOS33 | SLEW = FAST; # kathode 0
 Net "ka<1>" LOC = T18 | IOSTANDARD = LVCMOS33 | SLEW = FAST; # kathode 1
 Net "ka<2>" LOC = U17 | IOSTANDARD = LVCMOS33 | SLEW = FAST; # kathode 2
 Net "ka<3>" LOC = U18 | IOSTANDARD = LVCMOS33 | SLEW = FAST; # kathode 3
 Net "ka<4>" LOC = M14 | IOSTANDARD = LVCMOS33 | SLEW = FAST; # kathode 4
 Net "ka<5>" LOC = N14 | IOSTANDARD = LVCMOS33 | SLEW = FAST; # kathode 5
 Net "ka<6>" LOC = L14 | IOSTANDARD = LVCMOS33 | SLEW = FAST; # kathode 6
 Net "ka<7>" LOC = M13 | IOSTANDARD = LVCMOS33 | SLEW = FAST; # kathode 7

#
# UART serial interface
#

 Net "rx"    LOC = N17 | IOSTANDARD = LVCMOS33;               # uart rx
 Net "tx"    LOC = N18 | IOSTANDARD = LVCMOS33 | SLEW = FAST; # uart tx

#
# VGA, Change.
#
 Net "red<0>" LOC = U7 | IOSTANDARD = LVCMOS33; # Bank = 2, pin name = IO_L43P, Sch name = RED0
 Net "red<1>" LOC = V7 | IOSTANDARD = LVCMOS33; # Bank = 2, pin name = IO_L43N, Sch name = RED1
 Net "red<2>" LOC = N7 | IOSTANDARD = LVCMOS33; # Bank = 2, pin name = IO_L44P, Sch name = RED2
 Net "green<0>" LOC = P8 | IOSTANDARD = LVCMOS33; # Bank = 2, pin name = IO_L44N, Sch name = GRN0
 Net "green<1>" LOC = T6 | IOSTANDARD = LVCMOS33; # Bank = 2, pin name = IO_L45P, Sch name = GRN1
 Net "green<2>" LOC = V6 | IOSTANDARD = LVCMOS33; # Bank = 2, pin name = IO_L45N, Sch name = GRN2
 Net "blue<0>" LOC = R7 | IOSTANDARD = LVCMOS33; # Bank = 2, pin name = IO_L46P, Sch name = BLU1
 Net "blue<1>" LOC = T7 | IOSTANDARD = LVCMOS33; # Bank = 2, pin name = IO_L46N, Sch name = BLU2
 Net "hsync" LOC = N6 | IOSTANDARD = LVCMOS33; # Bank = 2, pin name = IO_L47P, Sch name = HSYNC
 Net "vsync" LOC = P7 | IOSTANDARD = LVCMOS33; # Bank = 2, pin name = IO_L47N, Sch name = VSYNC

#
# General Purpose Timer output (PWM)
# This might change...
#
#
##JA
Net "gpt0_q" LOC = T12 | IOSTANDARD = LVCMOS33; #Bank = 2, pin name = IO_L19P, Sch name = JA1
Net "gpt0_nq" LOC = V12 | IOSTANDARD = LVCMOS33; #Bank = 2, pin name = IO_L19N, Sch name = JA2

## Pic USB-HID interface
NET "ps2_keyboard_data" LOC = "J13" | IOSTANDARD = "LVCMOS33";  #Bank = 1, Pin name = IO_L39P_M1A3,                      Sch name = PIC-SDI1
NET "ps2_keyboard_clk"  LOC = "L12" | IOSTANDARD = "LVCMOS33";  #Bank = 1, Pin name = IO_L40P_GCLK11_M1A5,               Sch name = PIC-SCK1

NET "ps2_mouse_data"   LOC = "K14" | IOSTANDARD = "LVCMOS33";   #Bank = 1, Pin name = IO_L39N_M1ODT,                     Sch name = PIC-SDO1
NET "ps2_mouse_clk"    LOC = "L13" | IOSTANDARD = "LVCMOS33";   #Bank = 1, Pin name = IO_L40N_GCLK10_M1A6,               Sch name = PIC-SS1

NET "pic_gpio<0>"     LOC = "L16" | IOSTANDARD = "LVCMOS33";   #Bank = 1, Pin name = IO_L42N_GCLK6_TRDY1_M1LDM,         Sch name = PIC-GPIO0
NET "pic_gpio<1>"     LOC = "H17" | IOSTANDARD = "LVCMOS33";   #Bank = 1, Pin name = IO_L43P_GCLK5_M1DQ4,               Sch name = PIC-GPIO1

